[project]
	description = c++/c
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fryduck
	label-Verified = -1..+1 group user/fryduck
[access "refs/for/refs/*"]
	read = group user/fryduck
	push = group user/fryduck
	label-Code-Review = -2..+2 group user/fryduck
	label-Verified = -1..+1 group user/fryduck
	rebase = group user/fryduck
	removeReviewer = group user/fryduck
	submit = group user/fryduck
[access "refs/heads/*"]
	read = group user/fryduck
	create = group user/fryduck
	push = group user/fryduck
	pushMerge = group user/fryduck
	label-Code-Review = -2..+2 group user/fryduck
	label-Verified = -1..+1 group user/fryduck
	submit = group user/fryduck
	forgeAuthor = group user/fryduck
	forgeCommitter = group user/fryduck
	createTag = group user/fryduck
[access "refs/tags/*"]
	push = +force group user/fryduck
	create = group user/fryduck
	createTag = group user/fryduck
	createSignedTag = group user/fryduck
[receive]
	requireChangeId = true
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	defaultValue = 0
